<!DOCTYPE html>

<html>
	<head>

	</head>
	<body>
		<b>Welcome to The Daily Planet News Paper</b>

			<% news.forEach(function (article) { %>
				<div>
					<a href="/articles/<%= article.id %>"><%= article.title %></a>
				<div>
					<%= article.summary %>
				</div>
			</div>

		<% }) %>
	</body>
</html>