<!DOCTYPE html>

<html>
	<head>

	</head>
	<body>
		<b>Welcome to The Daily Planet News Paper</b>
		<div>
			<em> Would you like to submit a new article? </em>
				<form method="post" action="/articles">
					<input type="text" name="article[title]">
					<div>
						<textarea name="article[summary]"></textarea>
					</div>
					<button>Submit</button>
				</form>
		</div>
	</body>
</html>