<!DOCTYPE html>

<html>
	<head>

	</head>
	<body>
		<b> Hello WDI 15, Welcome to The Daily Planet Website!! </b>

		<h3> Please note, we are still under construction...</h3>
		<p>...we recently fought off a cyborg-siege.</p>
		<div>
			<a href="/articles">View All of Our Sweet Articles</a>
			<img src="https://raw.githubusercontent.
			com/jta37/news_feed/master/daily_planet.jpg">
		</div>	
	</body>
</html>